.cell-srno {
  flex: 0 0 35px;
}
.cell-name {
  flex: 1;
  min-width: 200px;
}

.cell-metric {
  flex: 0 0 100px;
  justify-content: center;
}

.cell-created {
  flex: 0 0 150px;
}

.cell-action {
  flex: 0 0 50px;
}