<h1 matDialogTitle>{{data.title}}</h1>
<div fxLayout="row wrap" fxLayout.lt-sm="column">
  <div fxFlex="100"  class="pr-1 max-height-100vh-280px">
    <mat-form-field class="full-width" *ngFor="let item of allMessageTemplates; let i = index">
      <textarea matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      disabled
      >{{viewType == 'template' ? item.template : item.preview}}</textarea>
    </mat-form-field>
  </div>

  <div fxFlex="100" class="mt-1 text-right">
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Okay</button>
  </div>
</div>