
<div class="m-333 text-right">
    <button mat-raised-button class="mr-05" color="primary" (click)="onAddItem()">{{"ADD" | translate }} {{"NEW" | translate }}</button>
</div>
<mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="flex-end center" class="margin-333">
        <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" name="searchSource" placeholder="Search here" [(ngModel)]="search" #searchInput />
        </mat-form-field>
    </div>
    <mat-progress-bar *ngIf="(fetching$ | async)" mode="indeterminate"></mat-progress-bar>
    <app-seed-number-table class="display-block w-100 list-table"></app-seed-number-table>
    <mat-paginator
        #paginator
        [length]="pagination.length"
        [pageSize]="pagination.pageSize"
        [pageIndex]="pagination.pageIndex"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true"
        (page)="onPaginateChange($event)"
    >
    </mat-paginator>
</mat-card>