.cell-srno {
    flex: 0 0 50px;
}
.cell-didPool {
    flex: 1;
    min-width: 180px;
}

.cell-did, 
.cell-to {
    flex: 0 0 110px;
}

.cell-did {
    flex: 0 0 110px;
}

.cell-metric {
    flex: 0 0 120px;
    justify-content: center;
}

.cell-action {
    flex: 0 0 60px;
    justify-content: center;
}

.cell-sentAt {
    flex: 0 0 150px;
    justify-content: center;
}