<h1 matDialogTitle>Upload DIDs</h1>
<mat-tab-group #tabGroup>
  <mat-tab label="Upload File">
    <div class="file-upload-block">
      <mat-card-content class="mt-1 text-center file-upload-block__icon-group" (click)="onFileSelect()">
        <mat-icon class="file-upload-block__upload-icon" color="primary">cloud_upload</mat-icon>
        <span class="file-upload-block__title">Choose File</span>
        <input #inputFile class="file-upload-block__file" type="file" (change)="fileChangeEvent($event)" />
      </mat-card-content>
      <mat-card-content *ngIf="fileSelected" class="text-center file-upload-block__detail-group">
        <span>{{ fileName }}</span>
      </mat-card-content>
    </div>
  </mat-tab>
  <mat-tab label="Copy/Paste">
    <form [formGroup]="copyPasteForm">
      <div fxLayout="row wrap" fxLayoutAlign="flex-start center" class="mt-1">
        <span>Please enter the DIDs below. 1 DID per line!</span>
        <mat-form-field class="full-width">
          <mat-label> DIDs</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          [formControl]="copyPasteForm.controls['dids']"
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="10"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
<div class="mt-1">
  <button mat-raised-button color="primary" [disabled]="!isUploadable()" (click)="submit()">{{"UPLOAD" | translate }}</button>
  <span fxFlex></span>
  <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
</div>