<div fxLayout="row wrap">
    <mat-card class="w-100">
        <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="index" *ngIf="index <1">
            <!--<mat-tab label="Usage">Usage</mat-tab>-->
            <!--<mat-tab label="Pricing">Pricing</mat-tab>-->
            <mat-tab label="Payment History">
                <app-payment-history></app-payment-history>
            </mat-tab>
            <mat-tab label="Payment">
            </mat-tab>
        </mat-tab-group>
        <div *ngIf="index === 1">
            <button mat-mini-fab color="primary" (click)="index=0" class="mb-1">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <div class="m-333 payment-container">
                <span class="mat-h2 base-color">Payment</span>
            </div>

            <mat-tab-group *ngIf="index === 1" mat-align-tabs="start">
                <mat-tab label="Add Payment Card">
                    <add-card></add-card>
                </mat-tab>
                <mat-tab label="Add Funds">
                    <add-funds></add-funds>
                </mat-tab>
                <mat-tab label="Auto Recharge">
                    <auto-recharge></auto-recharge>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card>

</div>
