<h1 matDialogTitle>{{data.title}}</h1>
<mat-dialog-content>
  <div fxFlex="100"  class="pr-1">
    <mat-form-field class="full-width" *ngFor="let item of allMessageTemplates; let i = index">
      <textarea matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          disabled
      >{{viewType == 'template' ? item.template : item.preview}}</textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div fxFlex="100" class="mt-1 text-right">
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Okay</button>
  </div>
</mat-dialog-actions>
