<table class="w-100" mat-table *ngIf="seedNumbers" [dataSource]="seedNumbers" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="srNo" sticky>
        <mat-header-cell class="cell-srno" *matHeaderCellDef
            >Sr #</mat-header-cell
        >
        <mat-cell class="cell-srno" *matCellDef="let item; let i = index;">
            <a href="javascript:;">
                {{ offset + i + 1 }}
            </a>
        </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="seedNumber">
        <mat-header-cell class="cell-seedNumber" *matHeaderCellDef mat-sort-header
            >Seed Number</mat-header-cell
        >
        <mat-cell class="cell-seedNumber" *matCellDef="let item">
            {{ item.seedNumber}}
        </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="actions">
        <mat-header-cell class="cell-actions" *matHeaderCellDef
            >Actions</mat-header-cell
        >
        <mat-cell class="cell-actions" *matCellDef="let item">
            <button mat-icon-button (click)="onDelete(item)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>
  
    <mat-header-row
        *matHeaderRowDef="columnHeaders; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnHeaders"></mat-row>
</table>
<div class="text-center margin-333" *ngIf="seedNumbers.length === 0">No Records Found!</div>
  